.App {
    text-align: center;
    font-family: sans-serif;
    font-size:4vw;
}


body
{
    background-color: aliceblue;
}

.App-header
{
    flex-direction: column;
    align-items: center;
    color: #DF790B;
}

.user-data {
    font-size:3vw;
    align-content:center;
}

.App-link {
  color: #61dafb;
}

.Game-zone {
    border:groove;
    padding: 5%;
    margin:10%;
    font-size:4vw;
    
}

input {
    width: 10vw;
    height:4vw;
    font-size:4vw;
}

.button
{
    margin:1%;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border-radius:15px;
    box-shadow: 0 9px #999;
    font-size:3vw;
}

.button:active
{
    background-color:chocolate;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.start-over
{
    background-color: red;
    font-size: 2vw;
}

.arow
{
    background-image: url('./arow.png');
    width:20px;
    height:15px;
}


.check {
    background-color:orange;
    color:black;
    border:dashed;
}

    .check:hover
    {
        background-color: #DF790B;
        color:aliceblue;
    }


.popup-content
{
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
}

.popup-arrow
{
    color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content
{
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay
{
    background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay
{
    background: transparent;
}


.dropbtn
{
    background-image: url('./menu-icon2.png');
    background-position: center;
    width: 53px;
    height: 50px;
    border: 1px;
    cursor: pointer;
}

.dropdown
{
    display:inline-table;
    position:relative;
}

.dropdown-content
{
    display: none;
    z-index: 1;
    position: absolute;
}

    .dropdown-content button
    {
        color: black;
        background: conic-gradient(white purple);
        border: groove;
        padding: 12px 16px;
        display: block;
        font-size: 3vw;
        border-radius: 15px;
    }

        .dropdown-content button:hover
        {
            background-color:chocolate;
            color: azure;
        }


.dropdown:hover .dropdown-content
{
    display: inline-block;
}

.dropdown:hover .dropbtn
{
    opacity:70%;
}


