.App {
    text-align: center;
    font-family: sans-serif;
}


body {
    background-color: aliceblue;
    
}

.App-header {
  flex-direction: column;
  align-items: center;
  font-size: 3vw;;
  color: black;
}

.App-link {
  color: #61dafb;
}

.Game-zone {
    position: inherit;
    font-size: 3vw;
}

input {
    font-size: 3vw;
    width: 10vw;
}

.button
{
    margin:1%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:coral;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:active
{
    background-color:chocolate;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.check {
    background-color:brown;
}

/*
.popup-content
{
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
}

.popup-arrow
{
    color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content
{
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay
{
    background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay
{
    background: transparent;
}
*/


.dropbtn
{
    background-image: url('./menu-icon2.png');
    background-position: center;
    width: 53px;
    height: 50px;
    border: 1px;
    cursor: pointer;
    offset-position: right;
    color:aliceblue;
}

.dropdown
{
    position: relative;
    display: inline-block;
    
}

.dropdown-content
{
    position: absolute;
    display: none;
    min-width: 3vw;
    align-items: center;
    align-content: center;
    z-index: 1;
}

.dropdown-content button
{
    color: black;
    background-color:blueviolet;
    border:groove;
    font-size:3vw;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover
{
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown:hover .dropbtn
{
    opacity:70%;
}

